<div class="row" style="margin-left:0.5px">
  <div class="col-md-3">
    <div class="input-group">
      <div class="input-group-prepend" style="padding-top:5px;">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="autoSizingCheck2"
          />
        </div>
      </div>
      <div class="dropdown" style="padding-top:3px;">
        <span
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >
          <i class="fas fa-caret-down"></i></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button
            *ngFor="let lists of list"
            class="dropdown-item"
            type="button"
          >
            {{ lists }}
          </button>
        </div>
      </div>
      <span style="padding-left: 30px;padding-top:2px;"><i class="fas fa-redo-alt fa-sm"></i></span>
      <span style="padding-left: 30px;padding-top:2px;"><i class="fas fa-ellipsis-v"></i></span>
    </div>
  </div>
  <div class="col-md-7">
  </div>
  <div class="col-md-2" style="padding-top:5px;font-size:13px">
    <span><p>1-50 of 1,453&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-angle-right"></i></p></span>
  </div>
</div>
<hr style="width:100%;margin:0.1px;">
