<div class="p-grid">
  <div class="p-col-12" style="margin-left: 15px;">
    <p-scrollPanel
      [style]="{ width: '100%', height: '220px' }"
      styleClass="custombar2"
    >
    <span  *ngFor="let leftmenu of leftSideMenu" style="font-size: 13px;">
      <img src={{leftmenu.icon}} alt="" style="width: 18px; height: auto;">
      <span style="padding-left:10px;"><a href="#" style="color:dimgray">{{ leftmenu.name }}</a></span>
      <span style="padding-left:90px;font-size: 11px;">{{leftmenu.qty}}</span>
    <p></p>
    </span>
    </p-scrollPanel>
  </div>
</div>
