<hr style="width:100%;margin:0.1px;">
<button (click)="onBack()" type="button" class="btn btn-light" style="margin:15px 0px;border-radius: 50%;"><i class="fas fa-long-arrow-alt-left"></i></button>
<p>ID: {{datadetail.id}}</p>
<p>Name: {{datadetail.name}}</p>
<p>Topic: {{datadetail.topic}}</p>
<p>Date: {{datadetail.date}}</p>
<p>Detail: {{datadetail.detail}}</p>
