<td></td>
<td width="30%">
  <input class="form-check-input" type="checkbox" id="autoSizingCheck2" />
  <span style="padding-left: 10px;"><i class="far fa-star"></i></span>
  <span style="padding-left: 12px;"
    ><img
      src="https://www.gstatic.com/images/icons/material/system/2x/label_important_black_20dp.png"
      alt=""
      style="width: 18px; height: auto;"
  /></span>
  <span style="padding-left: 12px;"
    ><b>{{ datamail.name }}</b></span
  >
</td>
<td width="5%"></td>
<td width="60%">
  {{ datamail.topic }}
</td>
<td width="10%" style="padding-top: 14px; font-size: 13px;">
  {{ datamail.date }}
</td>
<!-- <td width="20%">
  <input class="form-check-input" type="checkbox" id="autoSizingCheck2" />
  <span style="padding-left: 10px;"><i class="far fa-star"></i></span>
  <span style="padding-left: 12px;"
    ><img
      src="https://www.gstatic.com/images/icons/material/system/2x/label_important_black_20dp.png"
      alt=""
      style="width: 18px; height: auto;"
  /></span>
  <span style="padding-left: 12px;"><b>Joy Kanyawee</b></span>
</td>
<td width="5%"></td>
<td width="60%">
  Tutorial: LINE Bot With Python and Heroku | Evan Fang in Better Programming
</td>
<td width="10%" style="padding-top: 14px; font-size: 13px;">
  13:30
</td> -->
