<table class="table table-borderless" style="font-size: 15px;">
  <tbody>
    <tr>
      <td *ngFor="let headmail of headermail">
        <img src={{headmail.icon}} alt="" style="width: 18px; height: auto;">
        <span style="padding-left: 15px;">{{headmail.name}}</span>
      </td>
    </tr>
  </tbody>
</table>
<!-- <hr style="width:102%;margin-top:-10px;"> -->

