<app-header (onSearch)="searchIn($event)"></app-header>
<div class="row">
  <div class="col-md-2">
    <div style="margin-left: 5px; margin-bottom: 10px;">
      <button
        pButton
        pRipple
        type="button"
        label="Compose"
        class="p-button-raised p-button-text p-button-plain"
        style="border-radius: 20px;"
      >
        <i class="fas fa-plus"></i>&nbsp;&nbsp;
      </button>
    </div>
    <app-leftside></app-leftside>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-11">
        <div class="p-grid">
          <div class="p-col-12">
            <div style="margin-top: 8px;">
              <app-subheader></app-subheader>
            </div>
            <p-scrollPanel
              [style]="{ width: '100%', height: '506px' }"
              styleClass="custombar2"
            >
            <!-- <div *ngIf="routerurl === '/mailbox' ; else elseUrl"> -->
              <div *ngIf="caseA else elseUrl">

                <div style="margin-top: 1px; margin-bottom: -15px;">
                  <app-subheadermail></app-subheadermail>
                </div>

                <table
                  class="table"
                  style="font-size: 15px; margin-left: 10px;"
                >
                  <tbody>
                    <tr *ngFor="let data of maildata | searchFilter:searchHeader">
                      <!-- <input class="form-check-input" type="checkbox" id="autoSizingCheck2" /> -->
                      <app-mailtopic
                      (click)="onSelect(data)"
                        [datamail]="data"
                      ></app-mailtopic>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #elseUrl>
                <app-maildetail [datadetail]="maildetail"></app-maildetail>
              </ng-template>
            </p-scrollPanel>
          </div>
        </div>
      </div>
      <div
        class="col-md-1"
        style="
          border: 0.5px solid #e6e6e6;
          margin-top: -16px;
          margin-left: -10px;
        "
      >
        <app-rightside></app-rightside>
      </div>
    </div>
  </div>
</div>
